@import url(https://fonts.googleapis.com/css?family=Quicksand:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #6A6E77;
  line-height: 1;
  font-family: "Quicksand";
  font-size: 1.5625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Quicksand";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 1.8;
}

@supports (font-size: clamp( 1.125rem , 1.0375rem  +  0.4375vw , 1.5625rem )) {
  body {
    font-size: clamp( 1.125rem , 1.0375rem  +  0.4375vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0375rem  +  0.4375vw , 1.5625rem )) {
  body {
    font-size: calc(1.125rem + 0.4375 * (100vw - 20rem) / 100);
  }
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  -webkit-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: opacity 0.8s;
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

@supports (padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
  [class*=__container] {
    padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
  [class*=__container] {
    padding-right: calc(0.9375rem + 14.0625 * (100vw - 20rem) / 100);
  }
}

@supports (padding-left: clamp( 1.5625rem , -1.125rem  +  13.4375vw , 15rem )) {
  [class*=__container] {
    padding-left: clamp( 1.5625rem , -1.125rem  +  13.4375vw , 15rem );
  }
}

@supports not (padding-left: clamp( 1.5625rem , -1.125rem  +  13.4375vw , 15rem )) {
  [class*=__container] {
    padding-left: calc(1.5625rem + 13.4375 * (100vw - 20rem) / 100);
  }
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.page {
  counter-reset: item;
}

.page__section::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  font-weight: 700;
  line-height: 1.25;
  color: #E3E6EC;
}

@supports (right: clamp( 0.9375rem , -0.375rem  +  6.5625vw , 7.5rem )) {
  .page__section::after {
    right: clamp( 0.9375rem , -0.375rem  +  6.5625vw , 7.5rem );
  }
}

@supports not (right: clamp( 0.9375rem , -0.375rem  +  6.5625vw , 7.5rem )) {
  .page__section::after {
    right: calc(0.9375rem + 6.5625 * (100vw - 20rem) / 100);
  }
}

@supports (font-size: clamp( 1.5625rem , 1.125rem  +  2.1875vw , 3.75rem )) {
  .page__section::after {
    font-size: clamp( 1.5625rem , 1.125rem  +  2.1875vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.125rem  +  2.1875vw , 3.75rem )) {
  .page__section::after {
    font-size: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 100);
  }
}

.section-01__container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.section-01__container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(28, 31, 37, 0.6);
}

.section-01__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  z-index: 2;
}

@supports (padding-top: clamp( 3.125rem , 1.8rem  +  6.625vw , 9.75rem )) {
  .section-01__body {
    padding-top: clamp( 3.125rem , 1.8rem  +  6.625vw , 9.75rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 1.8rem  +  6.625vw , 9.75rem )) {
  .section-01__body {
    padding-top: calc(3.125rem + 6.625 * (100vw - 20rem) / 100);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 1.8rem  +  6.625vw , 9.75rem )) {
  .section-01__body {
    padding-bottom: clamp( 3.125rem , 1.8rem  +  6.625vw , 9.75rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.8rem  +  6.625vw , 9.75rem )) {
  .section-01__body {
    padding-bottom: calc(3.125rem + 6.625 * (100vw - 20rem) / 100);
  }
}

@supports (padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
  .section-01__body {
    padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
  .section-01__body {
    padding-left: calc(0.9375rem + 14.0625 * (100vw - 20rem) / 100);
  }
}

@supports (padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
  .section-01__body {
    padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
  .section-01__body {
    padding-right: calc(0.9375rem + 14.0625 * (100vw - 20rem) / 100);
  }
}

.section-01__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-02__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}

.section-02__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.section-02__image img {
  max-width: 100%;
}

.section-03__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}

@supports (margin-bottom: clamp( 2.8125rem , 1.875rem  +  4.6875vw , 7.5rem )) {
  .section-03__section-header:not(:last-child) {
    margin-bottom: clamp( 2.8125rem , 1.875rem  +  4.6875vw , 7.5rem );
  }
}

@supports not (margin-bottom: clamp( 2.8125rem , 1.875rem  +  4.6875vw , 7.5rem )) {
  .section-03__section-header:not(:last-child) {
    margin-bottom: calc(2.8125rem + 4.6875 * (100vw - 20rem) / 100);
  }
}

.section-03__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.section-03__image img {
  max-width: 100%;
}

.values-section-03 {
  display: -ms-grid;
  display: grid;
}

@supports (gap: clamp( 2.8125rem , 2.4375rem  +  1.875vw , 4.6875rem )) {
  .values-section-03 {
    gap: clamp( 2.8125rem , 2.4375rem  +  1.875vw , 4.6875rem );
  }
}

@supports not (gap: clamp( 2.8125rem , 2.4375rem  +  1.875vw , 4.6875rem )) {
  .values-section-03 {
    gap: calc(2.8125rem + 1.875 * (100vw - 20rem) / 100);
  }
}

.values-section-03__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  gap: 1.0625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.values-section-03__value {
  color: #1C1F25;
}

.values-section-03__line {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  background: rgba(28, 31, 37, 0.1);
}

.values-section-03__line span {
  display: block;
  height: 0.625rem;
  background-color: #1C1F25;
}

.section-04__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

@supports (margin-bottom: clamp( 2.1875rem , 0.7125rem  +  7.375vw , 9.5625rem )) {
  .section-04__section-header:not(:last-child) {
    margin-bottom: clamp( 2.1875rem , 0.7125rem  +  7.375vw , 9.5625rem );
  }
}

@supports not (margin-bottom: clamp( 2.1875rem , 0.7125rem  +  7.375vw , 9.5625rem )) {
  .section-04__section-header:not(:last-child) {
    margin-bottom: calc(2.1875rem + 7.375 * (100vw - 20rem) / 100);
  }
}

.advantades {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
}

@supports (gap: clamp( 1.25rem , 0.875rem  +  1.875vw , 3.125rem )) {
  .advantades {
    gap: clamp( 1.25rem , 0.875rem  +  1.875vw , 3.125rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.875rem  +  1.875vw , 3.125rem )) {
  .advantades {
    gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 100);
  }
}

@supports (margin-bottom: clamp( 1.125rem , 1.025rem  +  0.5vw , 1.625rem )) {
  .advantades__icon:not(:last-child) {
    margin-bottom: clamp( 1.125rem , 1.025rem  +  0.5vw , 1.625rem );
  }
}

@supports not (margin-bottom: clamp( 1.125rem , 1.025rem  +  0.5vw , 1.625rem )) {
  .advantades__icon:not(:last-child) {
    margin-bottom: calc(1.125rem + 0.5 * (100vw - 20rem) / 100);
  }
}

@supports (margin-bottom: clamp( 0.625rem , 0.35rem  +  1.375vw , 2rem )) {
  .advantades__title:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.35rem  +  1.375vw , 2rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.35rem  +  1.375vw , 2rem )) {
  .advantades__title:not(:last-child) {
    margin-bottom: calc(0.625rem + 1.375 * (100vw - 20rem) / 100);
  }
}

.section-05__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}

.section-05__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}

.section-06 {
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}

.section-06__section-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.section-06__services {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.section-07__services {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}

.section-07__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.section-07__image img {
  max-width: 100%;
}

.section-08__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}

@supports (padding-bottom: clamp( 1.875rem , -0.125rem  +  10vw , 11.875rem )) {
  .section-08__section-header {
    padding-bottom: clamp( 1.875rem , -0.125rem  +  10vw , 11.875rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.125rem  +  10vw , 11.875rem )) {
  .section-08__section-header {
    padding-bottom: calc(1.875rem + 10 * (100vw - 20rem) / 100);
  }
}

.section-08__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

.section-08__image img {
  max-width: 100%;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 1.25rem , 0.4125rem  +  4.1875vw , 5.4375rem )) {
  .projects {
    gap: clamp( 1.25rem , 0.4125rem  +  4.1875vw , 5.4375rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.4125rem  +  4.1875vw , 5.4375rem )) {
  .projects {
    gap: calc(1.25rem + 4.1875 * (100vw - 20rem) / 100);
  }
}

.projects__value {
  font-weight: 700;
  line-height: 1.25;
  color: #1C1F25;
}

@supports (font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem )) {
  .projects__value {
    font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem )) {
  .projects__value {
    font-size: calc(2.1875rem + 1.5625 * (100vw - 20rem) / 100);
  }
}

.projects__value:not(:last-child) {
  margin-bottom: 0.2666666667em;
}

.section-09__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  min-height: 100vh;
}

.section-09__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.667%;
          flex: 0 0 66.667%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}

.item-section-09 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-section-09__body {
  padding-bottom: 1.25rem;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
  .item-section-09__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
  .item-section-09__title:not(:last-child) {
    margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 100);
  }
}

.item-section-09__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.section-10__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding-bottom: 3.125rem;
}

.section-10__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-10__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.section-10__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 57.4074074074%;
      flex-basis: 57.4074074074%;
}

.section-10__body {
  padding-left: 0.9375rem;
}

@supports (padding-top: clamp( 1.5625rem , 0.1041666667rem  +  3.0381944444vw , 3.75rem )) {
  .section-10__body {
    padding-top: clamp( 1.5625rem , 0.1041666667rem  +  3.0381944444vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 1.5625rem , 0.1041666667rem  +  3.0381944444vw , 3.75rem )) {
  .section-10__body {
    padding-top: calc(1.5625rem + 2.1875 * (100vw - 48rem) / 72);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
  .section-10__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
  .section-10__title:not(:last-child) {
    margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 100);
  }
}

.section-11 {
  position: relative;
}

.section-11__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  z-index: 2;
  position: relative;
}

.section-11__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -ms-grid;
  display: grid;
}

@supports (gap: clamp( 1.5625rem , 1.125rem  +  2.1875vw , 3.75rem )) {
  .section-11__items {
    gap: clamp( 1.5625rem , 1.125rem  +  2.1875vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.5625rem , 1.125rem  +  2.1875vw , 3.75rem )) {
  .section-11__items {
    gap: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 100);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
  .section-11__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
  .section-11__title:not(:last-child) {
    margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 100);
  }
}

.section-11__image {
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.section-11__image img {
  max-width: 100%;
}

.section-12__container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.section-12__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  z-index: 2;
}

@supports (padding-top: clamp( 3.125rem , 1.8rem  +  6.625vw , 9.75rem )) {
  .section-12__body {
    padding-top: clamp( 3.125rem , 1.8rem  +  6.625vw , 9.75rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 1.8rem  +  6.625vw , 9.75rem )) {
  .section-12__body {
    padding-top: calc(3.125rem + 6.625 * (100vw - 20rem) / 100);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 1.8rem  +  6.625vw , 9.75rem )) {
  .section-12__body {
    padding-bottom: clamp( 3.125rem , 1.8rem  +  6.625vw , 9.75rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.8rem  +  6.625vw , 9.75rem )) {
  .section-12__body {
    padding-bottom: calc(3.125rem + 6.625 * (100vw - 20rem) / 100);
  }
}

@supports (padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
  .section-12__body {
    padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
  .section-12__body {
    padding-left: calc(0.9375rem + 14.0625 * (100vw - 20rem) / 100);
  }
}

@supports (padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
  .section-12__body {
    padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -1.875rem  +  14.0625vw , 15rem )) {
  .section-12__body {
    padding-right: calc(0.9375rem + 14.0625 * (100vw - 20rem) / 100);
  }
}

.section-12__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-12__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  color: #E3E6EC;
  text-align: center;
}

.section-12__value {
  font-weight: 700;
  line-height: 1.25;
}

@supports (font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem )) {
  .section-12__value {
    font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem )) {
  .section-12__value {
    font-size: calc(2.1875rem + 1.5625 * (100vw - 20rem) / 100);
  }
}

.section-12__lable {
  line-height: 1.24;
}

.section-12__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#fp-nav {
  position: absolute !important;
  z-index: 100;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translate3d(0, -50%, 0);
}

@supports (left: clamp( 0.46875rem , -2.279676259rem  +  8.9928057554vw , 7.5rem )) {
  #fp-nav.fp-left {
    left: clamp( 0.46875rem , -2.279676259rem  +  8.9928057554vw , 7.5rem );
  }
}

@supports not (left: clamp( 0.46875rem , -2.279676259rem  +  8.9928057554vw , 7.5rem )) {
  #fp-nav.fp-left {
    left: calc(0.46875rem + 7.03125 * (100vw - 30.5625rem) / 78.1875);
  }
}

.fp-slidesNav {
  position: absolute !important;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0;
  right: 0;
  margin: 0;
}

.fp-slidesNav.fp-bottom {
  bottom: 17px;
}

.fp-slidesNav.fp-top {
  top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
  position: absolute !important;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  row-gap: 0.625rem;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0.3125rem;
  height: 2.1875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.1875rem;
          flex: 0 0 2.1875rem;
  margin: 0;
  position: relative;
}

.fp-slidesNav ul li {
  display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  width: 0.3125rem;
  height: 2.1875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.1875rem;
          flex: 0 0 2.1875rem;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 0;
  position: absolute !important;
  z-index: 1;
  width: 0.3125rem;
  height: 2.1875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.1875rem;
          flex: 0 0 2.1875rem;
  background: #1C1F25;
  left: 50%;
  top: 50%;
  margin: auto;
  opacity: 0.2;
  -webkit-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: opacity 0.8s;
  border: 0.0625rem solid #fff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 0.3125rem;
  height: 2.1875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.1875rem;
          flex: 0 0 2.1875rem;
  margin: auto;
  background: #1C1F25;
  border-radius: 0;
  opacity: 1;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 0.3125rem;
  height: 2.1875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.1875rem;
          flex: 0 0 2.1875rem;
  margin: auto;
  opacity: 1;
}

.section-header__lable {
  line-height: 1.24;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
  .section-header__lable:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
  .section-header__lable:not(:last-child) {
    margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 100);
  }
}

.section-header__title {
  font-weight: 700;
  line-height: 1.25;
  color: #1C1F25;
  max-width: 29.375rem;
}

@supports (font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem )) {
  .section-header__title {
    font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 1.875rem  +  1.5625vw , 3.75rem )) {
  .section-header__title {
    font-size: calc(2.1875rem + 1.5625 * (100vw - 20rem) / 100);
  }
}

.section-header__title:not(:last-child) {
  margin-bottom: 0.75em;
}

.section-header__title_big {
  max-width: 53.125rem;
}

.section-header__text {
  line-height: 1.8;
  max-width: 31.25rem;
}

.section-header_lite .section-header__lable {
  color: #E3E6EC;
}

.section-header_lite .section-header__title {
  color: #fff;
}

.sub-title {
  font-weight: 700;
  line-height: 1.2666666667;
  color: #1C1F25;
}

@supports (font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem )) {
  .sub-title {
    font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.125rem  +  0.625vw , 1.875rem )) {
  .sub-title {
    font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 100);
  }
}

.services {
  display: -ms-grid;
  display: grid;
}

@supports (gap: clamp( 1.875rem , 1.5rem  +  1.875vw , 3.75rem )) {
  .services {
    gap: clamp( 1.875rem , 1.5rem  +  1.875vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.875rem , 1.5rem  +  1.875vw , 3.75rem )) {
  .services {
    gap: calc(1.875rem + 1.875 * (100vw - 20rem) / 100);
  }
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 0.625rem , 0.125rem  +  2.5vw , 3.125rem )) {
  .services__item {
    gap: clamp( 0.625rem , 0.125rem  +  2.5vw , 3.125rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.125rem  +  2.5vw , 3.125rem )) {
  .services__item {
    gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 100);
  }
}

.services__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.75rem;
          flex: 0 0 3.75rem;
  height: 3.75rem;
}

.services__icon img {
  max-width: 100%;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
  .services__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.725rem  +  1.0625vw , 2rem )) {
  .services__title:not(:last-child) {
    margin-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 100);
  }
}

._animate,
.values-section-03,
.item-section-09__body,
.section-10__body,
.section-header__lable,
.section-header__title,
.section-header__text {
  -webkit-transform: translate(0, 3.125rem);
      -ms-transform: translate(0, 3.125rem);
          transform: translate(0, 3.125rem);
  opacity: 0;
  -webkit-transition: all 1s ease 0.2s;
  -o-transition: all 1s ease 0.2s;
  transition: all 1s ease 0.2s;
}

.active ._animate,
.active .values-section-03,
.active .item-section-09__body,
.active .section-10__body,
.active .section-header__lable,
.active .section-header__title,
.active .section-header__text {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

._animate-item,
.values-section-03__item,
.advantades__item,
.section-11__item,
.services__item {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.active ._animate-item,
.active .values-section-03__item,
.active .advantades__item,
.active .section-11__item,
.active .services__item {
  opacity: 1;
}

.active ._animate-item:nth-child(1),
.active .values-section-03__item:nth-child(1),
.active .advantades__item:nth-child(1),
.active .section-11__item:nth-child(1),
.active .services__item:nth-child(1) {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.active ._animate-item:nth-child(2),
.active .values-section-03__item:nth-child(2),
.active .advantades__item:nth-child(2),
.active .section-11__item:nth-child(2),
.active .services__item:nth-child(2) {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.active ._animate-item:nth-child(3),
.active .values-section-03__item:nth-child(3),
.active .advantades__item:nth-child(3),
.active .section-11__item:nth-child(3),
.active .services__item:nth-child(3) {
  -webkit-transition-delay: 0.9s;
       -o-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.active ._animate-item:nth-child(4),
.active .values-section-03__item:nth-child(4),
.active .advantades__item:nth-child(4),
.active .section-11__item:nth-child(4),
.active .services__item:nth-child(4) {
  -webkit-transition-delay: 1.2s;
       -o-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

@media (min-width: 47.99875em) {
  .section-01__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }

  .section-02__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-height: 100vh;
  }

  .section-02__content {
    padding-bottom: 3.125rem;
    padding-right: 1.25rem;
  }

  .section-03__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    min-height: 100vh;
  }

  .section-03__content {
    padding-bottom: 3.125rem;
    padding-left: 1.25rem;
  }

@supports (left: clamp( -15rem , 1.125rem  +  -13.4375vw , -1.5625rem )) {
    .section-03__image {
      left: clamp( -15rem , 1.125rem  +  -13.4375vw , -1.5625rem );
    }
}

@supports not (left: clamp( -15rem , 1.125rem  +  -13.4375vw , -1.5625rem )) {
    .section-03__image {
      left: calc(-1.5625rem + -13.4375 * (100vw - 20rem) / 100);
    }
}

  .section-03__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .section-05__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
  }

  .section-05__content {
    padding-bottom: 3.125rem;
    padding-right: 1.25rem;
  }

  .section-07__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
  }

  .section-07__services {
    padding-bottom: 3.125rem;
    padding-right: 1.25rem;
  }

@supports (right: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .section-07__image {
      right: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem );
    }
}

@supports not (right: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .section-07__image {
      right: calc(-0.9375rem + -14.0625 * (100vw - 20rem) / 100);
    }
}

  .section-07__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .section-08__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    min-height: 100vh;
  }

  .section-08__content {
    padding-bottom: 3.125rem;
  }

@supports (padding-left: clamp( 1.875rem , -6.875rem  +  18.2291666667vw , 15rem )) {
    .section-08__content {
      padding-left: clamp( 1.875rem , -6.875rem  +  18.2291666667vw , 15rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , -6.875rem  +  18.2291666667vw , 15rem )) {
    .section-08__content {
      padding-left: calc(1.875rem + 13.125 * (100vw - 48rem) / 72);
    }
}

  .section-08__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .item-section-09:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .item-section-09:nth-child(odd) .item-section-09__body {
    text-align: right;
  }

  .item-section-09__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 1.25rem;
  }

  .section-12__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }

  .section-header__title:not(:last-child) {
    margin-bottom: 2.2em;
  }
}

@media (min-width: 61.99875em) {
  .section-06__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section-06__section-header {
    padding-right: 1.25rem;
  }

  .section-09__section-header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section-09__section-header .section-header {
    text-align: center;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .section-11::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 37.5%;
    background: rgba(196, 196, 196, 0.3);
  }

@supports (padding-left: clamp( 1.875rem , -6.875rem  +  18.2291666667vw , 15rem )) {
    .section-11__items {
      padding-left: clamp( 1.875rem , -6.875rem  +  18.2291666667vw , 15rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , -6.875rem  +  18.2291666667vw , 15rem )) {
    .section-11__items {
      padding-left: calc(1.875rem + 13.125 * (100vw - 48rem) / 72);
    }
}
}

@media (max-width: 61.99875em) {
  .section-06__section-header {
    padding-bottom: 1.875rem;
  }

  .section-09__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 3.125rem;
  }

@supports (margin-bottom: clamp( 1.875rem , 1.625rem  +  1.25vw , 3.125rem )) {
    .section-09__section-header {
      margin-bottom: clamp( 1.875rem , 1.625rem  +  1.25vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.625rem  +  1.25vw , 3.125rem )) {
    .section-09__section-header {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 100);
    }
}

  .item-section-09__image-ibg {
    padding-bottom: 100%;
  }

  .section-10__container {
    padding-top: 3.125rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-10__image-ibg {
    padding-bottom: 100%;
  }

  .section-11__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-11__items {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .page__section::after {
    top: 1.25rem;
    right: 50%;
  }

  .section-01__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
  }

  .section-05__image-ibg img {
    position: relative;
    max-width: 100%;
    height: auto;
    width: auto;
  }

  .section-09__items {
    gap: 1.25rem;
  }

  .item-section-09 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-12__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
  }

  .section-12__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
  }

@supports (margin-right: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .remove-padding {
      margin-right: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem );
    }
}

@supports not (margin-right: clamp( -15rem , 1.875rem  +  -14.0625vw , -0.9375rem )) {
    .remove-padding {
      margin-right: calc(-0.9375rem + -14.0625 * (100vw - 20rem) / 100);
    }
}

@supports (margin-left: clamp( -15rem , 1.125rem  +  -13.4375vw , -1.5625rem )) {
    .remove-padding {
      margin-left: clamp( -15rem , 1.125rem  +  -13.4375vw , -1.5625rem );
    }
}

@supports not (margin-left: clamp( -15rem , 1.125rem  +  -13.4375vw , -1.5625rem )) {
    .remove-padding {
      margin-left: calc(-1.5625rem + -13.4375 * (100vw - 20rem) / 100);
    }
}
}

@media (max-width: 29.99875em) {
  .advantades {
    text-align: center;
  }

  .center_md4 {
    text-align: center;
  }

  .services__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 61.99875em) and (max-width: 48em) {
  .section-11__items {
    padding-left: inherit;
  }
}